@font-face {
  font-display: swap;
  font-family: "Play";
  font-weight: 400;
  src: url("../fonts/play-v19-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Play";
  font-weight: 700;
  src: url("../fonts/play-v19-latin-700.woff2") format("woff2");
}

* {
box-sizing: border-box;
}

:root {
  --color-primary-dark: #011c44;
  --color-brand: #2b7fff;
  --white: #FFF;
  --color-footer: #747272;
}

/* ===Base=== */
body {
  color: var(--color-primary-dark);
  font-family: sans-serif, "Roboto";
  font-size: 18px;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.section{
  padding: 48px 0;
}

.container{
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px;
}

/* ===Header==== */
header{
 background-color: #f7f3f3; 
 padding: 32px 0;
}

/* .header-container{
  display: flex;
  align-items: center;
} */

.menu-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 240px;
}

.menu-nav-link{
  display: flex;
  gap: 56px;
}

 .menu-nav-icon{
  display: flex;
  gap: 32px;
}

/* Link */
.link {
  text-decoration-line: none;
  color: var(--color-primary-dark);
}
.link:hover,
.link:focus,
.link:active {
  color: var(--color-brand);
 }

.brand-logo {
   color: var(--color-brand);
  font-family: "Play", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 0.95;
  text-transform: capitalize;
}

a.brand-logo{
  max-width: 74px;
}

h2.brand-logo{
  font-size: 64px;
  color: var(--color-primary-dark); 
  text-transform: none; 
}
.section-title {
  /* font-family: "Play", sans-serif;
  font-size: 64px;
  color: var(--color-primary-dark);
    font-weight: 700;
  line-height: 0.95;
  margin-bottom: 48px; */
  text-align: center;
}

/* === Hero section === */
.hero-section {
  padding: 36px 0 126px 0;
}

.hero-container{
  padding-left: 240px;
}

h1.brand-logo {
  font-size: 140px;
  line-height: 0.8;
  margin-bottom: 40px;
}

.button-order {
  padding: 16px 32px;
  color: #fff;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 600;
  border-radius: 32px;
  border-color: var(--color-brand);
  background-color: var(--color-brand);
  cursor: pointer;
  margin-bottom: 14px;
}

.button-order:hover {
  background-color: transparent;
  color: var(--color-brand);
}

.hero-section-text{
  font-size: 12px;
  line-height: 1.5; 
  text-align: center;
max-width: 238px;
}
/*==== About ous section =======*/
/* .about-ous-section{
   }*/

.about-ous-container{
  display: flex;
  gap: 28px; 
}
.about-ous-content{
  display: flex;
  gap: 40px;
  flex-direction: column;
  align-items: flex-start;
  max-width: 710px;
}
span.brand-logo {
  font-size: 64px;
}

.about-ous-text{
  font-size: 22px;
  font-weight: 400;
  line-height: 1.7;
}

.about-ous-image{
  display: flex;
}

 span.brand-text {
  color: var(--color-brand);
  font-family: "Play", sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 0.95;
}
.brand-in-text {
  text-transform: capitalize;
  font-weight: 600;
} 

.about-ous-image{
  display: flex;
  gap: 40px;
  flex-direction: column; 
 
}

/* ==== Why we section ===== */
.menu-list{
  display: flex;
  gap: 56px;
  /* gap: calc((100%-2 * 56 )/ 3); */
  }

  .menu-list-item{
    text-align: center;
  }


/* ==== Footer ===== */
footer{
  background-color: var(--color-primary-dark);  
  color: var(--white);
}

.footer-container{
  display: flex;  
  padding: 56px 0
}

.footer-nav-link{
  display: flex;
  gap: 56px;
  
}

footer .link{
  color: var(--white);
  font-size: 16px;
}

footer .brand-logo{
  text-decoration: none;
}

footer .menu-nav{
  align-items: flex-start;
  gap: 186px;
}

.footer-menu{
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.color-footer{
  color: var(--color-footer);
  font-size: 13px;
}