@font-face {
  font-display: swap;
  font-family: "Play";
  font-weight: 400;
  src: url("../fonts/play-v19-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Play";
  font-weight: 700;
  src: url("../fonts/play-v19-latin-700.woff2") format("woff2");
}

*, ::after, ::before {
box-sizing: border-box;
}

:root {
  --color-primary-dark: #011c44;
  --color-brand: #2b7fff;
  --white: #FFF;
  --color-footer: #747272;
}

/* ===Base=== */
body {
  color: var(--color-primary-dark);
  font-family: sans-serif, "Roboto";
  font-size: 18px;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

a, link {
  display: inline-block;
  text-decoration-line: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.section{
  padding: 48px 0;
}

.container{
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px;
}

/* ===Header==== */
.header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
 background-color: #f7f3f3; 
 padding: 32px 0;
}

.menu-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 240px;
}

.menu-nav-link{
  display: flex;
  gap: 56px;
}

 .menu-nav-icon{
  display: flex;
  gap: 32px;
}

/* Link */
.link {
  text-decoration-line: none;
  color: var(--color-primary-dark);
  transition: color 0.3s;
}
.link:hover,
.link:focus,
.link:active {
  color: var(--color-brand);
 }

.brand-logo {
   color: var(--color-brand);
  font-family: "Play", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 0.95;
  text-transform: capitalize;
}

a.brand-logo{
  max-width: 74px;
}

h2.brand-logo{
  font-size: 64px;
  color: var(--color-primary-dark); 
  text-transform: none; 
}
.section-title {
    text-align: center;
}

.address-icon{
  fill: var(--color-primary-dark)
}

.address-icon:hover,
.address-icon:focus
{
  fill: var(--color-brand)
}


/* === Hero section === */
.hero-section {
  padding: 123px 0 126px 0;
  background-image: url(../images/background-image.jpg);
  background-repeat: no-repeat;
  background-position: right center;
  /* background-size: cover; */
}

.hero-container{
  padding-left: 240px;
  }

h1.brand-logo {
  font-size: 140px;
  line-height: 0.8;
  margin-bottom: 40px;
}

.button-order {
  padding: 16px 32px;
  color: #fff;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 600;
  border-radius: 32px;
  border: 2px solid var(--color-brand);
  background-color: var(--color-brand);
  cursor: pointer;
  margin-bottom: 14px;
}

.button-order:hover {
  background-color: transparent;
  color: var(--color-primary-dark);
   }

.hero-section-text{
  font-size: 12px;
  line-height: 1.5; 
  text-align: center;
max-width: 238px;
}
/*==== About ous section =======*/
/* .about-ous-section{
   }*/

.about-ous-container{
  display: flex;
  gap: 28px; 
}
.about-ous-content{
  display: flex;
  gap: 40px;
  flex-direction: column;
  align-items: flex-start;
  max-width: 710px;
}
span.brand-logo {
  font-size: 64px;
}

.about-ous-text{
  font-size: 22px;
  font-weight: 400;
  line-height: 1.7;
}

.about-ous-image{
  display: flex;
}

.star-icon{
  fill: var(--color-brand);
}

 span.brand-text {
  color: var(--color-brand);
  font-family: "Play", sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 0.95;
}
.brand-in-text {
  text-transform: capitalize;
  font-weight: 600;
} 

.about-ous-image{
  display: flex;
  gap: 40px;
  flex-direction: column; 
 
}

/* ==== Why we section ===== */
.why-we-list{
  display: flex;
  gap: 56px;
  margin: 0 78px;
    }

  .why-we-list-item{
    text-align: center;
    flex-basis: calc((100% - 112px) / 3);
    padding: 24px 32px;
    flex-shrink: 0;
  }

  .menu-icon{
    fill: var(--color-brand);
  }

  /* ==== Our procedures section ===== */
.our-procedures-container{
  display: flex;
  gap: 20px;
  align-items: center;
}

.menu-list{
  display: flex;
  gap: 16px;
    }

  .menu-list-item{
    text-align: center;
  }

  .our-procedures-card{
    transition: transform .3s;
  }

  .our-procedures-card :hover{
    transform: scale(1.05);
  }

.face-image{
  border-radius: 120px 4px;
      }

  .arrow-button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    padding: 0;
cursor: pointer;
border-color: var(--color-primary-dark);
  }

  .arrow-button.next{
    transform: rotate(180deg);
  }

  .arrow-button:hover{
    background-color: var(--color-brand);
    border-color: var(--color-brand)
      }

  .icon-arrow{
   fill: var(--color-primary-dark);
  }

  .arrow-button:hover .icon-arrow:hover{
    fill: var(--white);
  } 

  /* ==== Contacts and Map section ===== */
.contacts-section{
  padding-bottom: 96px;
}

  .contacts-container{
    display: flex;
    gap: 32px;
  }

  .contacts-map{
    flex-shrink: 0;
    border-radius: 32px;
    border: none;
  }

/* ==== Footer ===== */
.footer{
  background-color: var(--color-primary-dark);  
  color: var(--white);
  padding: 56px 0;
}

.footer-container{
  display: flex; 
  gap: 20px; 
 }

.footer-nav, .footer-address{
  display: flex;
  gap: 20px;
flex-basis: 50%;
}

.footer-menu .link, .address-list .link, .address-info .link{
  color: var(--white);
  font-size: 16px;
}

.footer-logo, .footer-menu{
flex-grow: 1;
}

.footer-address {
  font-style: normal;
}
.address-list, .address-info{
  flex-grow: 1;
}

 .info-text{
  color: var(--color-footer);
  font-size: 14px;
}

footer .address-icon {
  fill: var(--white);
}

footer .address-icon:hover,
footer .address-icon:focus{
  fill: var(--color-brand)
}
 /*===== Modal window ======*/
 .backdrop{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
justify-content: center;
align-items: center;
padding: 20px 0;
background-color: rgba(1, 31, 74, 0.40);
transition: opacity 0.5s, visibility 0.5s;
 }

.backdrop.is-hidden{
opacity: 0;
visibility: hidden;
pointer-events: none;
}

.modal{
  position: relative;
  border-radius: 38px;
  background-color: var(--color-primary-dark);
    width: 100%;
  max-width: 720px;
  height: 100%;
max-height: 688px;
overflow: auto;
}

.modal-btn-close{
  position: absolute;
  top: 42px;
  right: 42px;
}

.modal-form-container{
 padding: 42px 144px;
 color: var(--white);
 overflow: auto;
}

.title-in-modal{
  
  font-size: 64px;
  text-transform: none; 
  text-align: center;
  margin-bottom:  40px;
  font-family: "Play", sans-serif;
  font-weight: 700;
}

.text-in-modal{
  padding: 0 76px;
  font-size: 22px;
  font-weight: 600;
    text-align: center;
    margin-bottom:  32px; 
}

 .text-in-modal span{
  color: var(--color-brand);
}

.modal-form{
  display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; 
      gap: 24px;
      padding: 0 60px;
}

/* .modal-form:last-child{
  margin-bottom: 8px;
} */
.form-field{
  width: 100%;
  position: relative;
}

.form-label{
  position: absolute;
  top: 18px;
  left: 32px;
  /* display: block; --прибираємо, тому що position: absolute*/
  font-size: 14px;
  font-weight: 400;
 transition: transform 0.5s;
 }

 /* .form-input:focus + .form-label{
  transform: translate(-10px, -40px);
  }  --label після input*/

 .form-field:focus-within .form-label{
 transform: translate(-10px, -40px);
 }

.form-input{
padding: 18px 32px;
width: 100%;
max-width: 310px;
border-radius: 32px;
border-color: 2px solid var(--color-footer);
background-color: transparent;
outline: auto;
}

.form-input:focus {
  background-color: var(--color-footer);
  border-color: var(--color-footer);
  outline: none;
}

/* .modal-btn-order{
  margin-bottom: 8px;
} */

.modal-btn-order:hover, .modal-btn-order:focus{
  border-color: var(--color-footer);
  background-color: var(--color-footer);
}

.form-text-agree{
  color: var(--color-footer);
text-align: center;
font-size: 12px;
font-weight: 400;
line-height: 1.5;
}

.form-link-agree{
  text-decoration: underline;
  color: var(--color-footer);
}