.brand-logo {
    color: var(--color-brand);
    font-family: "Play", sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 0.95;
    text-transform: capitalize;
  }
  
  a.brand-logo {
    max-width: 74px;
  }
  
  h2.brand-logo {
    font-size: 64px;
    color: var(--color-primary-dark);
    text-transform: none;
  }