.contacts-section {
    padding-bottom: 96px;

  &__container {
    display: flex;
    gap: 32px;
  } 

   &__map {
    flex-shrink: 0;
    border-radius: 32px;
    border: none;
  }

   &__form {
    border-radius: 32px;
    background-color: var(--color-primary-dark);
    width: 100%;
    max-width: 423px;
    height: 100%;
    max-height: 481px;
    padding: 48px 56px;
    text-align: center;
    /* overflow: auto; */
  }

  &__text-form {
    padding: 0 10px;
    font-size: 22px;
    font-weight: 600;
  
    margin-bottom: 32px;
    color: var(--white);
  }

 &__text-form span {
    color: var(--color-brand);
  }

  &__form-field {
    margin-bottom: 16px;
    color: var(--white);
  }
  &__button{
      padding: 16px 32px;
      color: #fff;
      font-family: "Roboto";
      font-size: 18px;
      font-weight: 600;
      border-radius: 32px;
      border: 2px solid var(--color-brand);
      background-color: var(--color-brand);
      cursor: pointer;
      margin-bottom: 14px;
    }
    
    &__button:hover,
    &__button:focus
     {
      // background-color: transparent;
      color: var(--color-primary-dark);border-color: var(--color-footer);
background-color: var(--color-footer);
    }
  
}
    

  
 
  
  
  
  
  
  
  