.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f7f3f3;
    padding: 32px;
    
    &__container{
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__nav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }

  &__menu{
  display: flex;
  gap: 64px;
  justify-content: center;
  flex-grow: 1;
}
  }

  //==================//
  // .menu-nav {
  //   display: flex;
  //   align-items: center;
  //   justify-content: space-between;
  //   gap: 240px;

  // }
  
  // .menu-nav-link {
  //   display: flex;
  //   gap: 56px;
  // }
  
  // .menu-nav-icon {
  //   display: flex;
  //   gap: 32px;
  // }