.hero-section {
    padding: 123px 0 126px 0;
    background-image: url(../images/bg-image-hero.png);
    background-repeat: no-repeat;
    background-position: right top;
     background-size: contain; 
    //  background-image: linear-gradient(89deg, var(--white) 30.62%, rgba(255, 255, 255, 0.85) 41.31%, rgba(255, 255, 255, 0.19) 58.65%, rgba(255, 255, 255, 0.00) 72.78%);

      &__container {
    padding-left: 244px;
     }

     &__text {
      font-size: 12px;
      line-height: 1.5;
      text-align: center;
      max-width: 238px;
    }
  }
    
  
  
  