.hero-section {
    padding: 123px 0 126px 0;
    background-image: url(../images/background-image.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    /* background-size: cover; */
  }
  
  .hero-container {
    padding-left: 240px;
  }
  
  h1.brand-logo {
    font-size: 140px;
    line-height: 0.8;
    margin-bottom: 40px;
  }
  
  .button-order {
    padding: 16px 32px;
    color: #fff;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 600;
    border-radius: 32px;
    border: 2px solid var(--color-brand);
    background-color: var(--color-brand);
    cursor: pointer;
    margin-bottom: 14px;
  }
  
  .button-order:hover {
    background-color: transparent;
    color: var(--color-primary-dark);
  }
  
  .hero-section-text {
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    max-width: 238px;
  }