.why-we-list {
    display: flex;
    gap: 56px;
    margin: 0 78px;
  }
  
  .why-we-list-item {
    text-align: center;
    flex-basis: calc((100% - 112px) / 3);
    padding: 24px 32px;
    flex-shrink: 0;
  }
  
  .menu-icon {
    fill: var(--color-brand);
  }